<!DOCTYPE html>
<html>
    <head>
        <title>Database Project 9</title>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/global.css') }}">
    </head>

    <body>
        <ul>
            <li><a href="{{ url_for('login') }}">Login Page</a></li>
            <li><a href="{{ url_for('main') }}">Home Page</a></li>
            <li><a href="{{ url_for('search') }}">Find a County</a></li>
            <li><a href="{{ url_for('searchbar') }}">Search</a></li>
            <li><a href="{{ url_for('statistics') }}">Statistics</a></li>
            <li class="right"><a>Welcome User: {{ username }}</a></li>
        </ul>
        <h1>COVID19 Statistics in the US</h1>
        <hr>
        <h2>Most Cases By County:</h2>
        <ol>
            {% for item in county %}
                <li> <strong>{{ item[1] }} County, {{ item[2] }}</strong> with <strong>{{ item[0] }}</strong> cases.</li><br>
            {% endfor %}
        </ol>
        <h2>Most Cases By State:</h2>
        <ol>
            {% for item in state %}
                <li> <strong>{{ item[1] }}</strong> with <strong>{{ item[0] }}</strong> cases.</li><br>
            {% endfor %}
        </ol>
        <h2>Average Cases Per County:</h2>
        <ol class="circle">
            <li><strong>{{ county_average }}</strong> cases per county on average.</li>
        </ol>
        <br>
        <h2>Average Cases Per State:</h2>
        <ol class="circle">
            <li><strong>{{ state_average }}</strong> cases per state on avergae.</li>
        </ol>
        <br>
        <h2>Total Cases in the United States:</h2>
        <ol class="circle">
            <li><strong>{{ total }}</strong> cases total.</li>
        </ol>
    </body>
</html>
